<div class="flex">
  <%= provider_card(@provider, true) %>
  <div>
    <div>
      <%= link_to t(:'comun.link_retroceder'), providers_path, class: blue_btn %>
    </div>
    <div class="p-5">
      <%= button_to( t(:'comun.link_borrar'),provider_path(@provider.id), method: :delete, class: red_btn) %>
    </div>
  </div>
</div>

<%# @banks.each do |bank| %>
  <%#= turbo_frame_tag dom_id bank, src: edit_bank_path(bank) %>
<%# end %>
<%= render @banks %>