<div class="p-8 homepage__card">
  <div>
    <h4><%= t(:'homepage.total_proveedores', proveedores: @provider_size) %></h4>
  </div>

  <div>
    <h4><%= t(:'homepage.total_bancos', bancos: @banks_size) %></h4>
  </div>
</div>

<%= link_to t(:'homepage.link_proveedores'), providers_path, class: blue_btn %>
<%= link_to t(:'homepage.link_cuentas'), banks_path, class: blue_btn %>
