<div class="p-8 homepage__card">
  <div>
    <h4><%= t(:total_proveedores, proveedores: @provider_size,
              scope: [:homepage]) %></h4>
  </div>

  <div>
    <h4><%= t(:total_bancos, bancos: @banks_size,
              scope: [:homepage]) %></h4>
  </div>
</div>

<%= link_to t(:link_proveedores, scope: [:homepage]), providers_path, class: blue_btn %>
