<div class="p-8">
  <div>
    <h4>Total Provider :</h4>
    <p><%= @provider_size  %></p>
  </div>

  <div>
    <h4>Total Banks:</h4>
    <p><%= @banks_size  %></p>
  </div>
</div>

<%= link_to 'Check your providers', providers_path, class: blue_btn %>
