<div>
  <%= render 'form', bank: @bank %>
</div>

<!--<div id="banks">-->
  <%# @banks.each do |bank| %>
    <%#= render 'bank', bank: bank %>
  <%# end %>
<!--</div>-->

<%= turbo_frame_tag 'banks' do %>
  <%= render @banks %>
<% end %>