<div class="grid grid-cols-2">

  <div class="py-2">
    <%= render 'form', bank: @bank %>
  </div>

  <div id="banks" class="py-5">
    <%= render @banks %>
    <%= will_paginate @banks %>
  </div>

</div>