<div class="bank__container">

  <div class="py-2">
    <%= render 'form', bank: @bank %>
  </div>

  <div id="banks" class="py-5">
    <%= render @banks %>
  </div>
  <%= will_paginate @banks %>

</div>