<%= turbo_frame_tag 'error_message' do %>
  <div data-controller="error-message" class="error__message pr-3">
      <div class="pr-3">
          <%= message %>
      </div>
    <%= link_to 'X','', data: {
      controller: 'error-message',
      action: 'error-message#close_error_message'
    } %>
  </div>
<% end %>
