<%= turbo_frame_tag 'message' do %>
  <div data-controller="message" class="message py-2">
    <div class="mx-2">
      <%= message %>
    </div>
    <%= link_to '','', data: {
      controller: 'message'
    } %>
  </div>
<% end %>
