<%= turbo_frame_tag 'message' do %>
  <div data-controller="message" class="message px-3">
    <div class="">
      <%= message %>
    </div>
    <%= link_to '','', data: {
      controller: 'message'
    } %>
  </div>
<% end %>
